
html {
  box-sizing: border-box;
}

h1 {
  font: 600 3.5em 'Raleway', sans-serif;
  color: rgba(80, 9, 134, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em;
  width: 100%;
}
body {
  margin: 0;
  min-height: 100vh;
  background-color: bisque;
}
/* The sidebar menu */
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #b197c2;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #460786;
  display: block;
}

/* mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 190px;
  padding: 0px 10px;
}
/* for smaller screens */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}